
/*https://www.ccbg.io/generator*/
/*https://mycolor.space/gradient*/
/*https://uigradients.com/#Peach*/

html{padding: 0; margin: 0; min-height: 100%; }

body{background: none; }

.vh100{height:100%; min-height: 90vh; }

.align-center{text-align: center; }

.bg-roxo{background-color:#673ab7 !important }

.bg-blue{background-color:#6c64ea !important }

.h1, h1{ font-size: 1.8rem; }

.h2, h2{ font-size: 1.5rem; }

.h3, h3{ font-size: 1.2rem; }

.h4, h4{ font-size: 1rem; }

.h5, h5{ font-size: 0.8rem; }

.h6, h6{ font-size: 0.5rem; }


.card-form {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.card-border-none{
    border: none;
}



.main-panel .content {
    padding: 15px 0px 30px;
    min-height: calc(100% - 123px);
    margin-top: 55px;
}

.loading{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.59);
    z-index: 10000;
    min-height: 100%;
}

.loading .loading-cicle{
    position: absolute;
    left: 47%;
    top: 50%;
    width: 6rem;
    height: 6rem;
}

.inputSelect{
    background: #e8f0fe!important;
}

.container-relative{
    position:relative;
}
.maskSplash{
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 100%;
    background: rgba(148, 145, 145, 0.92);
    z-index: 999;
    margin: 0 15px;
    box-shadow: 0 0 11px #000;
    text-align: center;
}

.maskSplash .msgText{
    color: #fff;
    font-size: 120%;
    margin-top: 23%;
    text-align: center;
}




@media screen and (max-width: 991px){
    .main-panel .content { padding: 30px 0px; }
}
